/* importing font  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Manrope:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap');


/* Common Styles */

body {
    font-family: 'Poppins','Inter','Manrope',sans-serif;
}

/* Pricing Header  */

.pricing-header {
    max-width: 700px;
}





/* card Section  */

.card {
    border-radius: 26px !important;
}
.hot:hover {
    transform: scale(1.1);
}

.hot button:hover {
    transform: scale(.9);

}



/*************
 Media Query 
*************/

@media (max-width:768px){
    .carousal-caption{
        top:45%
    }
    .carousal-caption h2{
        font-size: 350%;
    }
    .carousal-caption p{
        font-size: 140%;
        padding-bottom: .2rem;
    }
    .carousal-caption .btn {
        font-size: 95%;
        padding: 8px 14px; 
    }
    .hot:hover {
        transform: scale(.9);
    }
}

@media (max-width:576px) {
    .carousel-caption {
        top:30%
    }
    .carousel-caption h2 {
        font-size: 50%;     
    }

    .carousel-caption p {
        font-size: 50%;      
    }
    .carousel-caption .btn {
        font-size: 60%;
        padding: 5px 8px;
    }
    .carousel-indicators {
        display: none;
    }
    
}